<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css"/>
  <title>Creat A New Post</title>
</head>
<body>
  <center>
    <h1>ADD NEW POST</h1> <hr>
    <div class="navbardiv">
      <a class="navbar-brand" href="#">ANSWER POSTS</a>
        <button> <a class="nav-link " aria-current="page" href="http://localhost:8080/posts">Home</a></button>
        <button><a class="nav-link" href="http://localhost:8080/posts/new">ADD NEW</a></button>
        <form class="d-flex" role="search" method="get" action="/search">
          <input class="form-control me-2" type="search" placeholder="Search" name="userName" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    <hr>
    <div>
      <form  method="post" action="/posts">
        <input type="text" placeholder="enter username" name="username"/><br><br>
        <textarea placeholder="write your post" name="content" rows="10" cols="45"> </textarea>
        <hr>
        <button> Submit Post</button> 
      </form>
    </div>
  </center>
</body>
</html>